:root{
    --page-bg-color : "#FFFFFF";
}

body{
    color: rgb(210, 141, 141);
    background-color: var(--page-bg-color);
}

.bg-d1{
    color: white;
    background-color: rgb(72, 89, 104);
}
.bg-d2{
    color: white;
    background-color: rgb(85, 118, 147);
}
